//FONTS
$font: 'Raleway', sans-serif;
$light-font: 'Montserrat', sans-serif;

//COOLORS
$white: #fff;
$accent: #c7b299;
$grey-dark: #555555;
$grey-light: #8c8c8c;
$brown: #615855;
$brown-light: #998675; 
$overlay: #111111;

//
$gatter: 30px;



$desktop: 1200px;