.header {
	position: absolute;
	overflow: hidden;
	width: 100%;
	top: 0;
    z-index: 1;
    .logo {
    	padding: $gatter / 2 0; 
	    display: inline-block;
    	@media screen and (min-width: 768px) {
			margin: 30px 0 0 0;
			float: left;
    	}
    }  
}  

.main-menu {
    transform: translateX(110%);
    transition: transform .4s;  
    padding: $gatter/2 0;    
    background-color: $grey-dark; 
    font-size: 14px;
    line-height: 2.5em;
    text-align: center;
    position: fixed; 
    left: 0;
    right: 0;  
    display: flex;
    align-items: center;
    justify-content: center; 
    height: calc(100% - 93px);
	&.open {
	    transform: translateX(0%);  
	}
    a {
    	color: $white;
    	text-decoration: none;
    	font-family: $light-font;
    	&:hover {
    		color: $accent;
    	}
    }

    ul {
    	position: relative;
    	width: 100%;
    	li { 
			&.active { 
				a {
					color: $accent;
				}
			}  
    		@media screen and (min-width: 768px) {
				display: inline-block;
				padding: 0 3px;
    		} 
    		@media screen and (min-width: 950px) {
				display: inline-block;
				padding: 0 15px;
    		}
    	}
    }

	@media screen and (min-width: 768px) {
	 	transform: translateX(0%);
  		text-align: left;
  		position: relative;
  		background-color: transparent;
  		float: right;
  		margin-top: 45px;
	}
}   

.mobile-menu {
	width: 35px;
	height: 35px;
	position: absolute;
	display: block;
	top: 45px;
	right: $gatter / 2;
	&.open {
		& span:before {
	     	top: -6px;
	     	width: 25px;
	        transform: rotate(205deg);
		}
		& span:after {
	     	top: 6px;
	     	width: 25px;
	        transform: rotate(155deg);
		}  
	}
	span {
		width: 35px;
		height: 4px;
		background-color: $white;
		display: block;
		position: absolute;
		top: 50%; 
		transform: translateY(-50%); 
		&:after {
			content: "";
			position: absolute;
			width: 35px;
			height: 4px;
			display: block;
			top: -8px;
		    right: 0;
			background-color: $white;
   			transition: transform .4s;
		}
		&:before {
			content: "";
			position: absolute;
			width: 35px;
			height: 4px;
			display: block;
			top: 8px;
		    right: 0;
			background-color: $white;
    		transition: transform .4s;
		}
	}

	@media screen and (min-width: 768px) {
		display: none;
	}
}  

.seacrh-block {
    position: absolute;
    bottom: -30px;
	right: 0;  
	width: 100%;
	max-width: 0; 
    overflow: hidden;
    box-sizing: border-box;
    transition: max-width .5s, padding .5s;
    input {
    	width: 100%;
	    background-color: $brown-light;
	    border: none;
	    border-radius: 10px;
	    outline: none;
	    padding: 5px 20px;
	    box-sizing: border-box;
	    color: $white;
	    border-bottom: 3px solid $brown;
        display: block; 
    }
    &.open {  
		padding: 0 15px;
    	max-width: 100%;
    }
}