* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
	font-family: $font;
  min-width: 320px;
  min-height: 400px;
  color: $grey-light;
  line-height: 1.3;
  font-size: 14px;
}

p {
  margin-bottom: .7rem;
  font-family: $light-font;  
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

img {
  max-width: 100%;
  vertical-align: top;
}

h2, h3, h4 {
  margin: 10px 0;
  font-weight: 800; 
  color: $grey-dark;
  @media screen and (min-width: 768px) {
    margin: 20px 0;
  }
}
h2 {
  font-size: 40px; 
  @media screen and (min-width: 768px) {
    font-size: 52px; 
  }
} 

h3 {  
  font-size: 26px;  
  @media screen and (min-width: 768px) {
    font-size: 30px; 
  }
}

h4 { 
  font-size: 18px; 
  @media screen and (min-width: 768px) {
    font-size: 22px; 
  }
}

ul { 
  list-style-type: none;
}

::placeholder {
	color: lighten($white, 10%);
} 

.btn {
    display: inline-block;
    padding: 20px 35px;
    border-radius: 3px;
    line-height: 1em;
    text-transform: uppercase;
    outline: none;
    font-size: 14px;
    font-weight: 800;
    color: $white;
    border: none;
    text-decoration: none;
    transition: background-color .4s, border-bottom-color .4s; 
    &-brown {
    	background-color: $brown-light;
    	border-bottom: 5px solid $brown;
      &:hover,
      &:active {
        background-color: darken($brown-light, 10%);
        border-bottom-color: darken($brown, 10%);
      }
    }
}

.loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    background-color: $brown-light;
    opacity: 1;
    transition: all 1s;

    &.out {
      opacity: 0;
      visibility: hidden;
    }
}

.section {
  padding: 30px 0; 
  @media screen and (min-width: 768px) {
    padding: 70px 0;
  }
  h3 {
    font-family: Montserrat,sans-serif;
  }
  p {
    margin-bottom: 2rem;
  }
  &-top {
    padding: 30px 0 0;
    @media screen and (min-width: 768px) {
      padding: 70px 0 0;
    }
  }
} 

.section-center {
  margin: 0 auto;
}

.bg-white {
  background-color: $white;
}

.bg-light {
  background-color: $grey-lighten;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.flex-align-center {
  align-items: center;
}

.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}