.head-slider { 
	.slider-block {
		max-width: 650px;
	}
	.slick-slide {
		display: flex;
		flex-direction: column;
		align-items: center;
    	justify-content: center;
		margin: auto;
		height: 100vh;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		position: relative;
		outline: none;
		padding: $gatter / 2;
		color: $white;
		text-align: center;
		&::after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: $overlay;
			opacity: .7;
			z-index: -1;
		} 
		strong {
			font-size: 20px;
			font-weight: 400; 
			@media screen and (min-width: 768px) {
				font-size: 36px;
			}
		} 
		h2 {
			color: $white;
		}
		.slider-btn {
			margin-top: 50px;
		}
	}
	.slick-dots {
		position: absolute;
	    bottom: 30px;
	    left: 50%;
	    transform: translateX(-50%); 
	    list-style-type: none;
	    li {
	    	display: inline-block;
			margin: 8px;
	    	button {
	    		    width: 14px;
					height: 14px;
					border: 2px solid transparent;
					background-color: $grey-light;
					border-radius: 50%;
					font-size: 0; 
					display: block; 
					outline: none;
	    	} 
	    	&.slick-active {
	    		button {
	    			border: 2px solid $brown-light;
	    			background-color: transparent; 
	    		}
	    	}
	    }
	}
	.slick-arrow {
		position: absolute;  
		height: 70px; 
		top: 50%;
		transform: translateY(-50%);
		line-height: 70px; 
		font-size: 50px;
		z-index: 1;
		color: $brown-light;
		cursor: pointer;
	}
	.slick-prev { 
		left: 0px;
	}
	.slick-next {
		right: 0px;
	}
}